:root {
  /* Colors */

  /* Primary */

  --Blue: hsl(223, 87%, 63%);

  /* Secondary */

  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);

  /* Neutral */

  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
  /* Typography */

  /* Body Copy */

  --Font: 20px;

  /* Fonts */

  --Family: [Libre Franklin](https://fonts.google.com/specimen/Libre+Franklin);
  /* - Weights: 300, 600, 700 */
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--Font);
  font-family: "Libre Franklin", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  max-width: 800px;
}
.logo {
  margin: 4rem auto 1rem auto;
  width: 60px;
}
.title {
  font-size: 40px;
  font-weight: 300;
  color: var(--Gray);
  margin: 1rem;
}
.title-highlight {
  font-weight: 700;
  color: black;
}
.subheading {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}
.CTA {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.CTA label {
  display: none;
}
.CTA form {
  display: flex;
  gap: 1rem;
}
.CTA form input {
  padding: 0.9rem 5rem;
  border: 1px solid var(--VeryDarkBlue);
  border-radius: 30px;
}
#email:invalid {
  border: 2px solid red;
}

#email:invalid::after {
  content: "Please enter a valid email address.";
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.CTA #submit {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 2px 2px 6px -3px var(--Blue);
  border: 1px solid var(--Blue);
  background-color: var(--Blue);
  color: white;
  width: 100%;
  padding: 0.9rem 3.5rem;
}
.CTA #submit:hover {
  cursor: pointer;
  opacity: 80%;
}
.illustration {
  height: 350px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .icons * {
  /* border: 1px solid var(--Gray); */
  font-size: 15px;
  border-radius: 30px;
  padding: 0.5rem;
  box-shadow: 1px 1px 6px -3px black;
  color: var(--Blue);
}
footer .icons *:hover {
  background-color: var(--Blue);
  color: white;
  cursor: pointer;
}
.copyright-section {
  font-size: 12px;
  color: var(--Gray);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 375px) {
  .CTA {
    flex-direction: column;
  }
}
